:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);

  --color-grey-950: hsl(255, 22%, 4%);
  --color-grey-900: hsl(248, 17%, 9%);
  --color-grey-850: hsl(248, 15%, 11%);
  --color-grey-800: hsl(248, 10%, 15%);
  --color-grey-700: hsl(248, 5%, 34%);
  --color-grey-600: hsl(251, 9%, 53%);
  --color-grey-200: hsl(252, 11%, 91%);

  --color-green: hsl(127, 100%, 82%);
  --color-yellow: hsl(42, 91%, 68%);
  --color-orange: hsl(13, 95%, 66%);
  --color-red: hsl(0, 91%, 63%);

  --color-gradient: linear-gradient(
    to right,
    hsl(248, 17%, 9%),
    hsl(255, 22%, 4%)
  );

  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-700: 3.5rem;
  --spacing-1000: 5rem;
  --spacing-1300: 6.5rem;
  --spacing-1600: 8rem;
  --spacing-2000: 10rem;
  --spacing-2200: 11rem;
  --spacing-2300: 11.5rem;

  --text-preset-font-size-1: 2rem;
  --text-preset-line-height-1: 2.625rem;

  --text-preset-font-size-2: 1.5rem;
  --text-preset-line-height-2: 2rem;

  --text-preset-font-size-3: 1.125rem;
  --text-preset-line-height-3: 1.5rem;

  --text-preset-font-size-4: 1rem;
  --text-preset-line-height-4: 1.25rem;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrainsMono-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  font-family: "JetBrains Mono", monospace;
  background: var(--color-gradient);
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  gap: var(--spacing-200);
  width: 90%;
}

input {
  width: 100%;
  border: none;
  outline: none;
  color: inherit;
}

input::placeholder {
  color: var(--color-grey-700);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: inherit;
  font-family: inherit;
}

h1 {
  text-align: center;
  color: var(--color-grey-600);
  font-size: var(--text-preset-font-size-4);
  line-height: var(--text-preset-line-height-4);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

.generated-password-container {
  position: relative;
}

#generated-password {
  font-weight: bold;
  color: var(--color-white);
  padding: var(--spacing-200);
  padding-right: 6.5rem;
  background-color: var(--color-grey-800);
  font-size: var(--text-preset-font-size-2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.copy-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  color: var(--color-green);
  position: absolute;
  top: 50%;
  right: var(--spacing-200);
  transform: translateY(-50%);
  cursor: pointer;
}

.copy-button:hover .copy-icon path,
.copy-button:focus-visible .copy-icon path,
.copy-button:active .copy-icon path {
  fill: var(--color-white);
}

.password-options {
  display: flex;
  flex-direction: column;
  font-size: var(--text-preset-font-size-4);
  line-height: var(--text-preset-line-height-4);
  gap: var(--spacing-400);
  color: var(--color-white);
  background-color: var(--color-grey-800);
  padding: var(--spacing-200);
}

.password-length {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.password-length-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-length-value {
  font-size: var(--text-preset-font-size-2);
  color: var(--color-green);
}

#password-length-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.5rem;
  background: var(--color-grey-850);
  outline: none;
  cursor: pointer;
}

#password-length-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.75rem;
  height: 1.75rem;
  background: var(--color-white);
  border-radius: 50%;
  cursor: pointer;
  border: 0.125rem solid var(--color-white);
  transition: background-color 0.2s ease;
}

#password-length-slider::-webkit-slider-thumb:hover {
  background: var(--color-grey-850);
  border-color: var(--color-green);
}

#password-length-slider::-moz-range-thumb {
  width: 1.75rem;
  height: 1.75rem;
  background: var(--color-white);
  border-radius: 50%;
  cursor: pointer;
  border: 0.125rem solid var(--color-white);
  transition: background-color 0.2s ease;
}

#password-length-slider::-moz-range-thumb:hover {
  background: var(--color-grey-850);
  border-color: var(--color-green);
}

#password-length-slider::-moz-range-track {
  background: var(--color-grey-850);
  height: 0.5rem;
}

.character-options {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.option-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  gap: var(--spacing-200);
}

.option-checkbox {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.125rem solid var(--color-white);
  background-color: transparent;
  cursor: pointer;
}

.option-checkbox:checked {
  background-color: var(--color-green);
  border-color: var(--color-green);
}

.option-checkbox:hover {
  border-color: var(--color-green);
}

.option-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 0.375rem;
  height: 0.75rem;
  border: solid var(--color-grey-800);
  border-width: 0 0.1875rem 0.1875rem 0;
}

.strength-meter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-grey-850);
  padding: var(--spacing-200);
  text-transform: uppercase;
}

.strength-label {
  color: var(--color-grey-600);
}

.strength-text {
  color: var(--color-white);
}

.options-footer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.strength-indicator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-200);
}

.strength-bars {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}

.strength-bar {
  display: flex;
  width: 0.625rem;
  height: 1.75rem;
  background-color: transparent;
  border: 0.125rem solid var(--color-white);
}

.too-weak {
  background-color: var(--color-red);
  border-color: var(--color-red);
}

.weak {
  background-color: var(--color-orange);
  border-color: var(--color-orange);
}

.medium {
  background-color: var(--color-yellow);
  border-color: var(--color-yellow);
}

.strong {
  background-color: var(--color-green);
  border-color: var(--color-green);
}

.generate-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  color: var(--color-grey-800);
  text-transform: uppercase;
  padding: var(--spacing-200);
  background-color: var(--color-green);
  font-size: 1rem;
}

.generate-button:hover,
.generate-button:focus-visible,
.generate-button:active {
  background-color: transparent;
  border: 0.125rem solid var(--color-green);
  color: var(--color-green);
}

.generate-button:hover .generate-button-icon path,
.generate-button:focus-visible .generate-button-icon path,
.generate-button:active .generate-button-icon path {
  fill: var(--color-green);
}

.hidden {
  display: none;
}

@media (min-width: 48em) {
  main {
    gap: var(--spacing-400);
    width: 33.75rem;
  }

  h1 {
    font-size: var(--text-preset-font-size-2);
    line-height: var(--text-preset-line-height-2);
  }

  h2 {
    font-size: var(--text-preset-font-size-1);
    line-height: var(--text-preset-line-height-1);
  }

  form {
    gap: var(--spacing-300);
  }

  .copy-button {
    right: var(--spacing-400);
  }

  #generated-password {
    padding: var(--spacing-200) var(--spacing-400);
  }

  .password-options {
    font-size: var(--text-preset-font-size-3);
    padding: var(--spacing-300) var(--spacing-400);
  }

  .options-footer {
    gap: var(--spacing-400);
  }

  .strength-meter,
  .generate-button {
    padding: var(--spacing-300) var(--spacing-400);
  }

  .strength-text {
    font-size: var(--text-preset-font-size-2);
    line-height: var(--text-preset-line-height-2);
  }
}

@media (min-width: 64em) {
  main {
    width: 28.125rem;
  }

  h1 {
    font-size: var(--text-preset-font-size-2);
    line-height: var(--text-preset-line-height-2);
  }
}
